<header class="header-user">
  <section class="header-pc">
      <div class="header-item1">
        <a href="#">
            <img src="assets/images/logo-header-user.png" alt="SmartOn" style="width:auto">
        </a>
          
        </div>
        <div class="header-item2">
            <p class="l-label">user</p>
        </div>
        <div class="header-item3">
          <a href="#" class="btn-logout">ログアウト</a>

        </div>
  </section>
  <section class="header-sp">
      <div class="header-item1-sp">
          <img src="assets/images/logo-header-user-mobile.png" alt="SmartOn" style="width:auto">
        </div>
        <div class="header-item2-sp">
            <img src="assets/images/user.png" alt="user" style="width:auto">
        </div>
  </section>
  
</header>
<div class="welcome-content">
  <p class="w-label-welcome">ようこそ</p>
  <p class="w-label-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
  <p class="btn-pc">
    <button mat-raised-button class="w-btn-back">戻る</button>
    <button mat-raised-button class="btn-welcome">次へ</button>
  </p>
  <p class="btn-sp w-btn-style01">
    <button mat-raised-button class="btn-welcome" >次へ</button>
  </p>
</div>